.asset-info-card {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .asset-info-card .asset-info-picker {
    margin: 0.5rem 0.25rem 0;
    line-height: 1.5; }
    .asset-info-card .asset-info-picker h4,
    .asset-info-card .asset-info-picker span {
      margin: 0.5rem; }
    .asset-info-card .asset-info-picker h4 {
      flex: 1; }
  .asset-info-card .daily-prices-card {
    overflow: auto; }
