.asset-details {
  width: 100%;
  padding: 0.5rem; }
  .asset-details h4 {
    margin-top: 0; }

.asset-index-card {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.asset-picker-filter {
  min-height: 5rem; }

.asset-picker-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 16rem;
  min-width: 12rem; }

.asset-list {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .asset-list tr {
    cursor: pointer; }
  .asset-list tbody tr.selected {
    background-color: rgba(42, 48, 82, 0.25); }

.asset-search {
  width: 100%; }
  .asset-search > input {
    width: 100%; }

.asset-picker-item td {
  text-align: left; }

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed; }

.screen {
  font-size: 12px;
  flex-direction: column; }

.screen,
.root {
  width: 100%;
  height: 100%;
  display: flex; }

.disabled {
  opacity: 0.2; }

.panels {
  flex: 1;
  display: flex; }

.workspace-panel {
  overflow: auto;
  display: flex;
  align-items: flex-start; }

table {
  margin-bottom: 0; }

.logo-text {
  padding: 0.5rem; }

.close-btn {
  cursor: pointer;
  box-shadow: none !important; }
  .close-btn:hover {
    box-shadow: none !important; }

header {
  position: inherit;
  width: 100%;
  color: white;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between; }

.number-positive {
  color: #2e8836;
  white-space: nowrap; }

.number-negative {
  color: #cc0033;
  white-space: nowrap; }

.full-screen-overlay {
  z-index: 9999; }

.drop-down {
  display: flex;
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
  background: white;
  position: absolute;
  z-index: 10000;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px; }
  .drop-down + .full-screen-overlay {
    background: transparent; }

.market-submarket-picker {
  width: 100%; }

.range-selector-items {
  display: flex;
  width: 100%;
  margin: 0.25rem 0.25rem 0;
  justify-content: space-between; }

[role=tablist] {
  margin-bottom: 0.5rem;
  flex-shrink: 0; }
  [role=tablist].vertical {
    margin-bottom: 0; }

input[type=range] {
  width: 100%; }

.sidebar-btn {
  padding: 0; }
  .sidebar-btn > img {
    width: 3rem;
    padding: 0.75rem; }

.toolbar-btn {
  line-height: 3.5;
  padding: 0 1rem; }
  .toolbar-btn > img {
    width: 1.5rem;
    height: 100%; }
  .toolbar-btn:hover > .toolbar-hint {
    visibility: visible; }

.buy-btn {
  font-size: 1.25em;
  padding: 0.5rem;
  width: 100%; }

.buy-again-btn {
  font-size: 1.25em;
  padding: 0.5rem; }

fieldset {
  margin-bottom: 0.5rem; }

.back-btn {
  width: 3.5rem;
  padding: 0.75rem; }

.tick-sparklines {
  margin-bottom: 1rem;
  text-align: center; }

.radio-selector {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  background-color: rgba(42, 48, 82, 0.1); }
  .radio-selector .selected-radio {
    background-color: rgba(42, 48, 82, 0.8); }

.radio-item {
  flex: 1; }
  .radio-item label {
    cursor: pointer;
    line-height: 2;
    display: block;
    text-align: center; }
  .radio-item img {
    margin-right: 0.5rem;
    width: 1.5rem;
    background-color: white;
    box-shadow: 0 0 0 1px white; }
  .radio-item input {
    display: none; }
  .radio-item input[type=radio]:checked + label {
    background: #2a3052;
    border-radius: 2px;
    color: white; }

.web-page {
  width: 100%;
  height: 100%; }

.spacer {
  flex: 1; }

.toolbar-hint {
  position: absolute;
  padding: 0.75rem;
  margin-top: -0.75rem;
  margin-left: 1rem;
  width: 10rem;
  border-radius: 2px;
  background: #2a3052;
  visibility: hidden; }

.button-list {
  display: inline; }

.name-val-pair {
  display: flex; }
  .name-val-pair * {
    flex: 0 1 180px; }
  .name-val-pair > .name {
    font-weight: 700; }

select {
  background-color: white; }

.resizer-vertical {
  background: #2a3052;
  cursor: ew-resize;
  width: 6px;
  display: flex;
  align-items: center; }
  .resizer-vertical .resizer-handle {
    width: 4px;
    margin: 3px 0;
    height: 2rem;
    border-left: 1px dotted rgba(255, 255, 255, 0.5);
    border-right: 1px dotted rgba(255, 255, 255, 0.5); }

.resizer-horizontal {
  background: #2a3052;
  cursor: ns-resize;
  height: 0.25rem; }

#theme-wrapper {
  width: 100%;
  height: 100%; }

.theme-picker {
  width: 100%; }

.form-label {
  font-weight: 500;
  margin-bottom: 5px; }

div[role=tabpanel] {
  background: #cc0033; }

.centerer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5rem; }

td,
th {
  padding: 0.2rem 0.4rem; }
  td.centered,
  th.centered {
    text-align: center; }
  td.left, td.textual,
  th.left,
  th.textual {
    text-align: left; }
  td.right, td.numeric, td.date,
  th.right,
  th.numeric,
  th.date {
    text-align: right; }
  td.row-id,
  th.row-id {
    font-weight: bold; }

.open-notice,
.closed-notice {
  padding: 0.2em 0.4em;
  opacity: 0.75;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 2px; }

.open-notice {
  background: #2e8836; }

.closed-notice {
  background: #cc0033; }

.modal {
  max-height: 100%;
  min-width: 320px;
  overflow: auto;
  width: 80%; }

.inverse .modal {
  background: #1d1d24; }

.info-icon {
  background-color: rgba(42, 48, 82, 0.5);
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  border-radius: 10px; }

.tooltip {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(42, 48, 82, 0.25);
  color: #2a3052;
  font-weight: bold;
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
  position: absolute;
  display: none; }

.btn-flat {
  color: #2a3052;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: rgba(42, 48, 82, 0.1);
  box-shadow: none; }
  .btn-flat:hover {
    background: rgba(42, 48, 82, 0.1) !important; }

div[role=tab] .close-btn {
  background: #2a3052;
  fill: white; }

nav.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: #2a3052;
  color: white;
  margin: -3.5rem -0.5rem -0.5rem; }

.sidebar span {
  color: white; }

#right-tab-list > div[role=tab][aria-selected=true] {
  box-shadow: inset -2px 0 0 0 #e98024; }

.close-svg path {
  fill: #2a3052; }

*:hover + .tooltip {
  display: block; }

.account-info {
  background: #e98024;
  padding: 0.5rem;
  line-height: 1.5; }

.close-btn svg {
  vertical-align: middle; }

.full-logo {
  text-align: center;
  margin-bottom: 1rem; }

.digit-stats-card {
  width: 100%;
  height: 400px; }

.digit-stats-chart {
  display: flex;
  min-height: 100px;
  width: 100%;
  height: 100%;
  flex: 1; }
  .digit-stats-chart.vertical {
    flex-direction: column; }

.digit-stats-col {
  flex: 1;
  display: flex; }

.digit-stats-bar {
  width: 100%;
  background-color: rgba(42, 48, 82, 0.5);
  margin: 1px;
  border-radius: 2px;
  transform-origin: 0 50%;
  transition: 0.5s ease-in; }
  .digit-stats-bar.max {
    background-color: #2e8836; }
  .digit-stats-bar.min {
    background-color: #cc0033; }

.digit-stats-percentage {
  text-align: center; }

.digit-stats-digit {
  font-size: 1.5em;
  margin: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.digit-stats-filter select {
  width: 100%;
  margin-bottom: 0.5rem; }

.header {
  display: flex;
  background: #2a3052;
  color: white;
  justify-content: space-between; }
  .header #hamburger-btn {
    line-height: 3;
    display: block; }
    .header #hamburger-btn > .sidebar {
      top: -300px !important;
      left: inherit;
      right: 0; }
  .header #hamburger-opener:checked + #hamburger-btn > .sidebar {
    top: 3.5rem !important;
    left: inherit; }
  .header .balance {
    font-size: 1.25rem;
    line-height: 2 !important; }

#hamburger-opener {
  display: none; }
  #hamburger-opener:checked + #hamburger-btn > .sidebar {
    left: 0.5rem;
    transition: 0.3s; }

#hamburger-btn {
  cursor: pointer; }
  #hamburger-btn > .sidebar {
    position: absolute;
    left: -300px;
    z-index: 995; }

#hamburger-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  z-index: 985; }

#hamburger-closer {
  display: none; }
  #hamburger-closer:checked + #hamburger-overlay {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s; }

#logo {
  margin: 0.25rem; }
  #logo img {
    height: 2rem; }
    #logo img:nth-child(2) {
      margin-left: 0.25rem;
      height: 1.75rem; }

.startup-content {
  display: flex;
  flex: 1;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-content: space-between;
  padding: 0.5rem; }
  .startup-content .create-account-button {
    margin: 2rem 0; }
  .startup-content .have-account {
    text-align: center;
    margin-bottom: 0.5rem; }
  .startup-content,
  .startup-content form,
  .startup-content form > *,
  .startup-content input,
  .startup-content select {
    width: 100%; }

.upgrade-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 420px; }
  .upgrade-card legend {
    margin-top: 0.5rem; }
  .upgrade-card .errorfield {
    margin-bottom: 0.5rem; }
  .upgrade-card button {
    width: 100%; }
  .upgrade-card .names-row input {
    min-width: 8rem; }
  .upgrade-card .names-row select {
    flex: inherit; }
  .upgrade-card .input-row {
    display: flex;
    flex-direction: row;
    margin: 0; }
    .upgrade-card .input-row > * {
      flex: 1;
      margin: 0 0.25em 0.5em 0; }
    .upgrade-card .input-row > :last-child {
      margin-right: 0; }

#footer {
  display: flex;
  height: 2.5rem;
  background: #2a3052; }
  #footer .full-screen-button,
  #footer .language-picker {
    margin: 0.25rem; }

#clock {
  margin: 0.5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

input::-webkit-calendar-picker-indicator {
  display: none; }

input::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

input[type=time]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.inverse .drop-down,
.inverse .trade-panel {
  background: #1d1d24; }

.inverse .picker-label,
.inverse select,
.inverse .start-time-selector > label,
.inverse .btn-flat {
  background-color: #2a3052 !important; }

.inverse .btn-flat,
.inverse .article-preview {
  color: #dddddd; }

.inverse .asset-list tbody tr.selected {
  background-color: rgba(42, 48, 82, 0.25); }

.inverse .btn-flat:hover,
.inverse .start-time-selector label:hover,
.inverse .picker-label:hover,
.inverse .duration-input select:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }

.inverse input {
  border: none !important; }

* {
  -webkit-tap-highlight-color: transparent; }

.mobile-page {
  height: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column; }

.mobile-content {
  min-width: 320px;
  flex: 1;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  overflow: auto;
  width: 100%; }
  .mobile-content .trade-panel {
    flex-direction: column; }
  .mobile-content .modal {
    max-width: 360px; }
  .mobile-content .contract-detail {
    width: 100%; }
  .mobile-content .asset-picker-container {
    width: auto; }
  .mobile-content .trade-type-picker {
    width: auto; }
  .mobile-content .info-icon {
    display: none; }
  .mobile-content .contract-details-card {
    margin: 0.5rem; }
  .mobile-content .trade-params {
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 200px; }
  .mobile-content .sell-at-market-btn,
  .mobile-content .buy-again-btn {
    width: 100%; }
  .mobile-content .sell-at-market-btn + .buy-again-btn {
    margin-top: 0.5rem; }
  .mobile-content .forward-starting-picker {
    display: flex;
    flex-direction: row; }
    .mobile-content .forward-starting-picker > div {
      display: flex;
      flex-direction: column; }
  .mobile-content .payout-picker {
    display: flex;
    flex-direction: row; }
  .mobile-content .payout-display {
    flex-direction: row; }
  .mobile-content .param-row {
    display: flex;
    flex-direction: row; }
    .mobile-content .param-row > label {
      flex: 1;
      line-height: 2; }
    .mobile-content .param-row > .param-field {
      flex: 2; }
  .mobile-content .contract-receipt {
    margin: 0; }
  .mobile-content tbody tr {
    cursor: pointer; }

.mobile-nav-btn {
  text-align: center;
  flex: 1; }
  .mobile-nav-btn img {
    padding: 1rem 0.125rem;
    height: 3.5rem; }
  .mobile-nav-btn.active {
    box-shadow: inset 0 -3px 0 0 #e98024; }

.mobile-toolbar {
  color: white;
  background: #2a3052;
  height: 3.5rem;
  display: flex;
  width: 100%; }

.mobile-back-btn {
  text-align: left !important;
  font-weight: normal;
  color: white !important;
  text-decoration: none;
  flex: 1; }
  .mobile-back-btn span {
    height: 3.5rem;
    vertical-align: middle; }

.mobile-form {
  display: flex;
  flex-direction: column;
  flex: 1; }

@media (orientation: landscape) {
  .mobile-content .trade-panel {
    flex-direction: row !important; }
  .mobile-content .trade-params {
    margin-left: 0.5rem; } }

.news-list-card,
.article {
  padding: 0.5em;
  font-size: 1rem; }

.news-list-card {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.article h1,
.article-preview h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0; }

.article-preview {
  display: inline-block;
  text-decoration: none;
  color: #404448; }
  .article-preview p {
    margin: 0; }
  .article-preview:hover {
    box-shadow: 0 0 0 0.25rem rgba(42, 48, 82, 0.25); }

.article-preview + .article-preview {
  margin-top: 1rem; }

.portfolio-row {
  cursor: pointer; }

.portfolio-card {
  width: 100%; }
  .portfolio-card .notice-msg {
    margin: 0.5rem; }

.contract-detail {
  display: flex;
  margin: 0.125rem;
  border-radius: 2px; }
  .contract-detail > span {
    flex: 1; }
  .contract-detail > *:first-child {
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: bold; }

.contract-details-list {
  display: flex;
  flex-wrap: wrap; }

.profit-loss-label {
  font-size: large;
  text-align: center;
  margin: 0.5rem 0; }

.modal .contract-detail {
  width: 100%;
  padding: 0.125rem; }

.modal .contract-details-list {
  max-width: 16rem; }

.modal .contract-details {
  display: flex; }

.modal .contract-receipt {
  max-width: 25rem;
  padding-left: 0.5rem; }

.modal .contract-chart {
  flex: 1;
  min-width: 25rem; }

.sell-at-market-btn {
  font-size: 1.25em;
  width: 100%; }

.settings-card {
  width: 100%; }
  .settings-card .notice-msg {
    margin-top: 0.5rem; }
  .settings-card button {
    width: 100%; }

.settings-personal-page,
.settings-change-password,
.settings-cashier-lock,
.settings-self-exclusion,
.settings-limits {
  padding: 0 0.5rem 0.5rem; }

.settings-address label {
  display: inline-block;
  width: 50%; }

.settings-address input,
.settings-address select {
  width: 50%; }

.settings-self-exclusion label {
  display: inline-block;
  width: 60%; }

.settings-self-exclusion input {
  width: 40%; }

.settings-change-password input,
.settings-cashier-lock input {
  width: 100%; }

.statement-card {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .statement-card [role=tablist] {
    margin-bottom: 0; }
  .statement-card .notice-msg {
    margin: 0.5rem; }

.statement-list {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.statement-row {
  cursor: pointer; }

.vertical .errorfield {
  margin-bottom: 0.5rem; }

.vertical > [role=tab] {
  padding: 0.1rem;
  margin-bottom: 0.5rem; }
  .vertical > [role=tab] > span {
    line-height: 1;
    margin-top: 0.5rem; }
  .vertical > [role=tab] > img {
    margin: 0 auto; }

.vertical .sell-at-market-btn {
  width: 100%; }
  .vertical .sell-at-market-btn + .buy-again-btn {
    margin-top: 0.5rem; }

.vertical .buy-again-btn {
  width: 100%; }

.vertical .trade-params {
  flex-direction: row-reverse; }

.vertical .trade-params,
.vertical .contract-receipt-container {
  overflow: auto;
  width: 11rem;
  padding-right: 0.5rem; }

.vertical .trade-panel {
  flex-direction: row-reverse; }

.vertical .contract-detail {
  width: 100%;
  padding: 0.125rem 0; }

.vertical .contract-receipt {
  overflow: auto;
  max-width: 15rem;
  margin-right: 0.5rem; }

.vertical .digit-stats-col {
  flex-direction: row-reverse; }

.horizontal .trade-panel {
  flex-direction: column; }

.horizontal .errorfield {
  margin: 0.5rem 0; }

.horizontal .trade-params {
  display: flex;
  flex-direction: column; }
  .horizontal .trade-params > * {
    flex: 1; }
  .horizontal .trade-params .barrier-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.horizontal .contract-detail {
  flex-direction: column;
  width: 8rem;
  background-color: rgba(42, 48, 82, 0.1);
  text-align: center; }

.horizontal .digit-stats-col {
  flex-direction: column; }

.horizontal .sell-at-market-btn + .buy-again-btn {
  margin-left: 0.5rem; }

.trade-action {
  text-transform: capitalize; }

.numeric-input {
  display: flex; }
  .numeric-input input {
    text-align: center;
    width: calc(100% - 4rem); }

.btn-flat:hover,
.start-time-selector label:hover,
.picker-label:hover,
.duration-input select:hover {
  box-shadow: inset 0 0 0 1px rgba(42, 48, 82, 0.5); }

.trade-type-picker {
  width: 20rem;
  height: 17rem; }

.type-pairs-list {
  display: flex;
  flex-direction: column; }

.type-pair {
  display: flex;
  cursor: pointer; }
  .type-pair * {
    flex: 1; }
  .type-pair div[role=tab] {
    margin: 0 0.5rem; }
  .type-pair div[role=tab][aria-selected=true] {
    color: #e98024;
    box-shadow: inset 0 -3px 0 0 #e98024; }
  .type-pair img {
    height: 1.5rem;
    margin: 0.5rem;
    background: white;
    box-shadow: 0 0 0 1px white; }

.trade-panel {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 2px;
  padding: 0.25rem;
  background: white;
  border-radius: 2px; }

.trade-chart-container {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: stretch; }

.trade-chart {
  width: 100%; }

.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.payout-value {
  font-size: 1.2em; }

.duration-input {
  display: flex;
  flex-direction: row; }
  .duration-input input {
    max-width: 50%; }
  .duration-input select {
    max-width: 50%;
    background-color: rgba(42, 48, 82, 0.1);
    margin-left: 3px;
    border: none; }
  .duration-input > * {
    flex: 1; }

.start-time-selector + .forward-starting-input {
  margin-top: 0.5rem; }

.forward-starting-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .forward-starting-input > input {
    max-width: 50%;
    flex: 1; }

.barrier-input {
  display: flex;
  flex-direction: column; }

.param-row {
  margin-bottom: 0.5rem; }

.start-time-selector {
  display: flex; }
  .start-time-selector > label {
    flex: 1;
    cursor: pointer;
    line-height: 2rem !important;
    background: rgba(42, 48, 82, 0.1);
    border-radius: 2px; }
  .start-time-selector > label + label {
    margin-left: 3px; }
  .start-time-selector > label > input {
    margin: 0 0.5rem; }

.duration-text {
  line-height: 2;
  margin-left: 0.5rem; }

.picker-label {
  cursor: pointer;
  padding-left: 0.25rem;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: rgba(42, 48, 82, 0.1);
  border-radius: 2px; }
  .picker-label img {
    height: 1.5rem;
    margin: 0.25rem 0; }

.payout-picker button {
  width: 2rem;
  height: 2rem; }

.forward-starting-picker > * {
  flex: 1; }

.param-row > label {
  text-transform: uppercase;
  line-height: 1.5; }

.trade-header {
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: #2a3052;
  background: rgba(42, 48, 82, 0.1); }
  .trade-header > span {
    flex: 1;
    line-height: 2;
    margin-left: 0.5rem; }

.trading-times-card {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.trading-times-filter {
  display: flex;
  margin-bottom: -0.5rem; }
  .trading-times-filter > * {
    width: 50%; }

.trading-times-date-picker > input {
  width: 100%; }

.watchlist-table tr:not(:hover) .close-btn {
  visibility: hidden; }

.watchlist-remove-cell {
  padding: 0 0.5rem 0 0; }

.watchlist-card {
  width: 100%;
  padding: 0.25rem; }

.watchlist-details {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.watchlist-item:hover {
  box-shadow: 0 0 0 0.25rem rgba(42, 48, 82, 0.25); }

.watchlist-item + .watchlist-item {
  margin-bottom: 1rem; }

.video-list {
  margin: 0;
  width: 100%;
  padding: 0.5rem; }

.video-thumbnail {
  display: block;
  width: 100%;
  text-decoration: none; }
  .video-thumbnail img {
    width: 100%; }
  .video-thumbnail h5 {
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem; }
  .video-thumbnail:hover {
    box-shadow: 0 0 0 0.25rem rgba(42, 48, 82, 0.25); }

.video-thumbnail + .video-thumbnail {
  margin-top: 1rem; }
